body {
    margin: 0;
    overflow: hidden; /*Corta la imagen en caso que no quepe en la pantalla del navedagor*/
    background-image: url('../res_ev.jpg'); 
    background-size: cover;
    background-position: center top -117px;
    background-attachment: fixed; /*hace que la imagen de fondo quede fija*/
    background-repeat: no-repeat;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Se define la fuente a utilizarse en la pantalla*/
@font-face {
    font-family: 'Digital7';
    src: url('../DS-DIGII.TTF') format('truetype'); 
}

#contador .texto {
    display: none; /* ocultamos el texto de la pantalla para que quede solo, el numero */
}

#contador .numero { 
    pointer-events: none;
    font-family: 'Digital7', sans-serif; /* Aca aplicamos la fuente */
    font-size: 5em; margin-top: 20px;
    color: #e7e5e5;
    position: absolute;
    top: 509px;
    left: 1120px;
    margin-top: 20px;
}

#mensaje {
    color: rgb(233, 234, 235);
    font-size: 2em;



}


/* Div que representa el área del círculo */
.target-circle {
    position: absolute;
    width: 140px; /* Ajusta el tamaño al círculo en la imagen */
    height: 140px; /* Ajusta el tamaño al círculo en la imagen */
    border-radius: 50%;
    top: 480px; /* Ajusta la posición al círculo real */
    left: 1070px;
    background-color: rgba(156, 149, 106, 0.801); /* Rojo semitransparente para pruebas */
    cursor: pointer;
}







